<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alex.helloworld">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginScreen" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".Unused_Inactive.MainActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".Sport"
            android:label="@string/title_activity_sportart"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.alex.helloworld.Home" />
        </activity>
        <activity
            android:name=".Invites"
            android:label="@string/title_activity_einladungen"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.alex.helloworld.Home" />
        </activity>
        <activity
            android:name=".Unused_Inactive.GamePickerLiga"
            android:theme="@style/AppTheme.Custom1" />
        <activity
            android:name=".Unused_Inactive.AddSport"
            android:theme="@style/AppTheme.Custom1" />
        <activity
            android:name=".GamePicker.Gamepicker"
            android:theme="@style/AppTheme.Custom1" />
        <activity android:name=".DisplayWeekActivity.DisplayWeekActivity" />
        <activity
            android:name=".activities.AccountPage"
            android:label="@string/title_activity_account_page"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.alex.helloworld.Home" />
        </activity>
        <activity
            android:name=".Friends.Friends"
            android:label="@string/title_activity_friends"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>
</manifest>