<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.brogrammers.sportsm8">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UserClasses.LoginScreen"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserClasses.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivitiesViews.CreateNewMeeting"
            android:theme="@style/AppTheme.Custom1" />
        <activity
            android:name=".UserClasses.AccountPage"
            android:label="@string/title_activity_account_page"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.brogrammers.sportsm8.MainActivity" />
        </activity>
        <activity
            android:name=".SocialViews.friends.OnlyFriendsView"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CalendarViews.MeetingDetailView"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SocialViews.groups.GroupDetailView"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SocialViews.SelectorContainer" />
        <activity
            android:name=".ActivitiesViews.CreateNewMeeting2"
            android:label="@string/title_activity_create_new_meeting2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DebugScreen.DebugScreen"
            android:label="@string/title_activity_debug_screen"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>