<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.brogrammers.sportsm8">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.android.brogrammers.sportsm8.UserClasses.LoginScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.brogrammers.sportsm8.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.android.brogrammers.sportsm8.UserClasses.RegisterActivity" />

        <activity
            android:name="com.android.brogrammers.sportsm8.SocialViews.groups.CreateGroup"
            android:theme="@style/AppTheme.Custom1" />
        <activity
            android:name="com.android.brogrammers.sportsm8.ActivitiesViews.CreateNewMeeting"
            android:theme="@style/AppTheme.Custom1" />
        <activity
            android:name="com.android.brogrammers.sportsm8.UserClasses.AccountPage"
            android:label="@string/title_activity_account_page"
            android:parentActivityName="com.android.brogrammers.sportsm8.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.brogrammers.sportsm8.MainActivity" />
        </activity>
        <activity
            android:name="com.android.brogrammers.sportsm8.SocialViews.friends.OnlyFriendsView"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.android.brogrammers.sportsm8.CalendarViews.MeetingDetailView"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.android.brogrammers.sportsm8.SocialViews.groups.GroupDetailView"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>